@keyframes banner {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75% {background-color: green;}
    100%   {background-color: red;}
}

@keyframes p {
    0%   {color: white;}
    25%  {color: black;}
    50%  {color: white;}
    75%  {color: white;}
    100% {color: white;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

#lileft-about {
    float:right;
    background-color: #003300;
}

#lileft-about a:hover {
    background-color: #055000;
    text-decoration:underline;
}

li a:hover {
    background-color: #333;
    text-decoration:underline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI';
}

h2 {
    float: left;
    font-family: 'Segoe UI';
}

body {
    margin: 0px;
}

#banner {
    padding: 20px; 
    
    width: auto;
    height: auto;

    background-color:red;

    animation-name: banner;
    animation-duration: 4s;
    /*animation-delay: 7s;*/
    animation-iteration-count: infinite;
}

#banner p {
    text-align: center;
    color:white;

    animation-name:p;
    animation-duration: 4s;
    /*animation-delay: 7s;*/
    animation-iteration-count: infinite;
}

#box {
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    box-shadow: 2px 2px 2px grey;

    padding: 20px; 
    
    width: 75%;
    height: auto;
    
    text-align:center;
    margin: 5% auto;
}

ul.b {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;

    font-family:'Segoe UI';

    background-color:#FFF;
}

li.b {
    float:none;
}

li.b::before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 8px;
}

#footer {
    background-color: #000;
    padding: 20px; 

    width: auto;
    height: auto;
    
    text-align:center;
}

#footer a {
    font-family: 'Segoe UI';
    font-size: 14px;

    text-decoration: none;

    color:white;

    margin: auto;
}

#footer a:hover {
    font-family: 'Segoe UI';
    font-size: 14px;

    text-decoration: none;

    color:#808080;

    margin: auto;
}


#footer p {
    font-family: 'Segoe UI';
    font-size: 14px;

    color:white;

    margin: auto;
}

h1 {
    font-family: 'Segoe UI';
    font-size: 26px;
    font-style: bold;

    margin: auto;
}

p {
    font-family: 'Segoe UI';
    font-size:16px;
}